# Ignore swap files 
*.swp
*.swo
# Ignore object files 
*.o
# Ignore python compiled files 
*.pyc
# Ignore tags file
tags
# Ignore any core dumps 
vgcore*

# Ignore other vim/lsp things 
.ccls-cache/
